* {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f8fbff;
}

.section-content {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    padding: 3em 0;
    background-color: #3eabfb;
    margin-bottom: 1em;
    border-bottom: 4px solid #ddd;
}

header .section-content {
    display: flex;
    flex-direction: row;
}

header .text-container {
    display: flex;
    align-items: center;
    align-content: flex-start;
    text-align: left;
    flex-direction: row;
}

header .logo {
    display: flex;
}

header .logo svg {
    width: auto;
    height: 4em;
}

header .title {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5em 0;
    flex: 1;
    font-size: 3em;
}

.device-list-header {
    padding: 0.5em;
    font-size: 1.8em;
}

.details-content {
    padding: 1.5em;
}

.os,
.reported {
    font-size: 0.8em;
    color: #888;
}

.reported {
    text-align: right;
}

.subsection-title {
    font-size: 0.8em;
    color: #888;
    margin-top: 0.8em;
}

.section-title {
    margin-top: 0;
}

.iface-info:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.iface-general,
.iface-wifi,
.operating-system {
    padding: 0.5em 0 1em 0;
    flex-direction: column;
}


.iface-info:last-child .iface-general,
.iface-info:last-child .iface-wifi {
    padding-bottom: 0;
}

.device-list-item {
    display: block;
    border: 1px solid #ececec;
    border-bottom-color: #ccc;
    margin-bottom: 1em;
}

.device-list-item .name {
    padding: 1em;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-size: 1.1em;
    background-color: #f5f5f5;
}

.device-list-item .name:hover {
    background-color: #dedede;
}

.device-list-item .brief {
    display: block;
}

.device-list-item .brief > * {
    display: inline-block;
    width: 50%;
    padding: 0.5em;
}

.details-container {
    display: none;
    background-color: #ddd;
}

.details-container.visible {
    display: block;
    border-top: 3px solid #ddd;
    background-color: white;
}

.dbm {
    color: #888;
    margin-left: 0.3em;
}

.device-list-item .detail-item > * {
    display: inline-block;
    width: 50%;
}